* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  line-height: 1.4;
}

body {
  margin: 0;
  position: relative;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.main-content {
  display: flex;
  min-width: 1300px;
  margin-bottom: 0px;
}

.photo-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.slideshow {
  position: relative;
  grid-area: 1 / 1 / 2 / 13;
}

.info-hint {
  color: rgb(70, 70, 70);
  position: absolute;
  bottom: 0;
  padding-bottom: 20px;
  z-index: 99;
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.arrow-down {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid rgb(70, 70, 70);
}

.waves {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
}

.waves path {
  fill: white;
}

.slide {
  max-height: 100vh;
}

.logo-white-container {
  background-color: rgb(2, 9, 72);
  border-radius: 5%;
  position: absolute;
  height: 100px;
  height: 100px;
  padding: 10px 0;
  top: 30px;
  left: 30px;
}

.logo-white {
  height: 100%;
}

.prev,
.next {
  position: absolute;
  align-self: anchor-center;
  margin: 30px;
  width: 0;
  height: 0;
}

.prev {
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-right: 30px solid rgba(255, 255, 255, 0.5);
}

.prev:hover {
  border-right: 30px solid white;
}

.next {
  right: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid rgba(255, 255, 255, 0.5);
}

.next:hover {
  border-left: 30px solid white;
}

.polaroid-wrapper {
  position: relative;
}

.polaroid,
.slide {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bateria,
.resistencia,
.roda {
  opacity: 90%;
}

.au {
  opacity: 85%;
}

.top-left {
  grid-area: 2 / 1 / 3 / 5;
  /* grid-row-start / grid-column-start / grid-row-end / grid-column-end */
}

.about {
  grid-area: 2 / 5 / 4 / 9;
}

.top-right {
  grid-area: 2 / 9 / 3 / 13;
}

.middle-left {
  grid-area: 3 / 1 / 4 / 5;
}

.bottom-left-middle {
  grid-area: 4 / 1 / 5 / 9;
}

.middle-bottom-right {
  grid-area: 3 / 9 / 6 / 13;
}

.logo-lang {
  margin-bottom: 50px;
}

.logo {
  width: 125px;
  margin-bottom: 30px;
}

.text-card {
  padding: 50px;
}

.text-content {
  padding: 0px 30px;
  background-color: white;
}

.title {
  font-family: "Baskervville", serif;
  font-size: 4em;
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: 400;
  line-height: 1.1;
}

.instagram {
  margin-bottom: 80px;
  width: 25px;
}

.p-margin-bottom {
  margin-top: 0px;
  margin-bottom: 40px;
}

.p-margin-bottom-big {
  margin-top: 0px;
  margin-bottom: 50px;
}

.subtitle {
  font-family: "Baskervville", serif;
  font-size: 1.5em;
}

.subtitle-2 {
  font-family: "Baskervville", serif;
  font-size: 1.2em;
  margin-top: 20px;
  margin-bottom: 5px;
}

.video {
  width: 100%;
}

.footer {
  width: 100vw;
  bottom: 0;
  font-size: 0.8em;
  padding: 5px;
}

.footer p {
  margin: 0px;
}

/* Mobile */
@media only screen and (max-width: 680px) {
  .main-content {
    width: 100%;
    min-width: 350px;
  }

  .photo-grid {
    display: block;
  }

  .logo-white-container {
    height: 70px;
    height: 70px;
    padding: 7px 0;
    top: 20px;
    left: 20px;
  }

  .slide {
    max-height: 250px;
  }

  .prev,
  .next {
    margin: 20px;
    align-self: unset;
    bottom: 15px;
  }

  .waves {
    height: 40px;
  }

  .info-hint {
    display: none;
  }

  .roda {
    max-height: 20vh;
    object-position: top;
    opacity: 80%;
  }

  .title {
    font-size: 2.5em;
    margin-bottom: 30px;
  }

  .subtitle {
    font-size: 1.3em;
  }

  .subtitle-2 {
    font-size: 1.1em;
  }

  .instagram {
    margin-bottom: 30px;
    width: 20px;
  }

  .text-card {
    padding: 30px;
  }

  .footer {
    text-align: center;
  }
}
