* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  line-height: 1.4;
}

body {
  margin: 0;
}

.main-content {
  display: flex;
  height: 100vh;
  min-width: 350px;
  margin-bottom: 0px;
}

.bananeira {
  opacity: 0.8;
}

.card {
  padding: 80px 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 600px;
  min-width: 500px;
}

.logo-lang {
  margin-left: 30px;
  margin-bottom: 30px;
}

.logo {
  width: 125px;
  margin-bottom: 30px;
}

.text-content {
  padding: 0px 30px;
  background-color: white;
}

.title {
  font-family: "Baskervville", serif;
  font-size: 3em;
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: 400;
  line-height: 1.1;
}

.bio {
  margin-top: 0px;
  margin-bottom: 40px;
}

.training {
  margin-bottom: 50px;
}

.instagram {
  width: 20px;
}

.footer {
  position: fixed;
  width: 100vw;
  bottom: 0;
  margin: 5px 7px;
  font-size: 0.7em;
  color: mintcream;
}

.footer p {
  margin: 0px;
}

/* Mobile */
@media only screen and (max-width: 680px) {
  .main-content {
    width: 100vw;
    max-height: 800px;
    margin-bottom: 50px;
    justify-content: unset;
  }

  .bananeira {
    width: 100%;
    min-width: 350px;
    top: -425px;
    opacity: 0.6;
    position: absolute;
    z-index: -1;
  }

  .card {
    padding: 30px 0px;
    width: 100%;
    max-width: none;
    min-width: 350px;
  }

  .text-content {
    padding: 40px 30px;
    background-color: white;
  }

  .title {
    font-size: 2.5em;
  }

  .bio {
    margin-bottom: 30px;
  }

  .training {
    margin-bottom: 30px;
  }

  .footer {
    margin: 30px;
    color: black;
    position: relative;
  }
}
